<% provide(:title, @user.name) %>
<% provide(:top_title, "#{@user.type} Profile") %>
<% provide(:top_link, edit_user_path(@user)) if current_user.is?(:group, 4) && !current_user?(@user) %>
<% provide(:top_icon, 'settings') %>
<% provide(:top_tip, "Edit #{@user.name}'s profile") %>

<div class="profile-block">
  <%= image_tag(@user.avatar.url, class: 'avatar') %>
  <div class="profile-info">
    <h1><%= @user.name %></h1>
    <h3 class="email"><%= @user.email %></h3>
    <h3 class="school">
      <%= image_tag(current_user.school.logo, class: 'logo') if current_user.school.logo? %><%= @user.school.name %>
      <%= raw("&nbsp;&nbsp;-&nbsp;&nbsp;#{@user.year_group.name}") if @user.is?(:group, 1) %>
    </h3>
    <h2><%= simple_format(@user.bio) %></h2>
  </div>
</div>

<div class="profile-container">
  <div class="profile-left">
    mo munny mo problems
  </div>
  <% if @relations.length > 0 || @user.tutor %>
      <div class="profile-right">
        <h3 class="record-header">Related Users:</h3>
        <ul class="record-list">
          <% if @relations %>
              <% @relations.each do |relation| %>
                  <%= render relation %>
              <% end %>
          <% end %>
          <%= render @user.tutor if @user.tutor %>
        </ul>
      </div>
  <% end %>
</div>