<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<h2><%= simple_format(@user.bio) %></h2>
<h3><%= @user.email %></h3>
<h3><%= @user.school.name %></h3>

<img class="avatar" src="<%= @user.avatar.url %>" />

<ul class="record-list">
  <% if @relations %>
    <% @relations.each do |relation| %>
      <li>
        <%= link_to relation.name, relation %>
      </li>
    <% end %>
  <% end %>
  <% if @user.tutor %>
    <li>
      <%= link_to @user.tutor.name, @user.tutor %>
    </li>
  <% end %>
</ul>

<%= link_to 'Remove User', @user, method: :delete, data: { confirm: 'This action cannot be undone. Are you sure?' } %>