<% provide(:title, @subject.name) %>
<% provide(:top_title, 'Subject Overview') %>
<% provide(:top_link, user_path(current_user)) %>
<% provide(:top_tip, 'Back to timetable') %>

<div class="profile-block">
  <% if current_user.is?(:group, [1,2]) %>
      <% user = current_user.group == 1 ? current_user : current_user.children.first %>
      <%= raw(challenge_grades_for user, @subject) %>
  <% end %>
  <div class="profile-info">
    <h1><%= @subject.name %></h1>
    <h3 class="email"><%= @subject.department.name %></h3>
    <h3 class="relation-title">Teacher:</h3>
    <h3 class="relation-name"><%= link_to @subject.teachers.first.name, @subject.teachers.first if @subject.teachers.first %></h3>
    <% if current_user.is?(:group, 1) && current_user.grades.where(subject_id: @subject.id).first %>
        <h2>
          Challenge Grade:
          <b><%= current_user.grades.where(subject_id: @subject.id).first.challenge_grade %></b>
        </h2>
    <% end %>
  </div>
</div>

<div class="profile-container">
  <div class="profile-left">
    <% if current_user.is?(:group, [1,2]) %>
        <%
          user = current_user.group == 1 ? current_user : current_user.children.first
          submissions = []
          @subject.assignments.each do |a|
            submissions += a.submissions.where(pupil_id: user.id) if a.submissions.where(pupil_id: user.id)
          end
        %>
        <%= line_chart submissions.pluck(:marked_at, :grade), width: '65vw', height: '500px', label: 'Attainment Level', id: 'attainment_graph', library: {
            chart: {
                backgroundColor: 'none',
                borderColor: 'none'
            },
            colors: ['#444444'],
            tooltip: {
                pointFormat: ''
            },
            yAxis: {
                title: {
                    text: 'Challenge Grade Attainment Level'
                },
                minorGridLineWidth: 0,
                gridLineWidth: 0,
                max: 2.5,
                min: -2.5,
                endOnTick: false,
                startOnTick: false,
                plotLines: [{
                    value: 0,
                    width: 2,
                    color: 'rgba(0,0,0,0.2)'
                }],
                plotBands: [{
                    from: -2.5,
                    to: -1.5,
                    color: 'rgba(238,29,35,0.5)',
                    label: {
                        text: 'Significant Underattainment',
                        style: {
                            fontStyle: 'italic',
                            opacity: 0.5
                        }
                    }
                }, {
                    from: -1.5,
                    to: -0.5,
                    color: 'rgba(254,198,63,0.5)',
                    label: {
                        text: 'Slightly Off Track',
                        style: {
                            fontStyle: 'italic',
                            opacity: 0.5
                        }
                    }
                }, {
                    from: -0.5,
                    to: 0.5,
                    color: 'rgba(139,198,62,0.5)',
                    label: {
                        text: 'On Target',
                        style: {
                            fontStyle: 'italic',
                            opacity: 0.5
                        }
                    }
                }, {
                    from: 0.5,
                    to: 1.5,
                    color: 'rgba(195,180,155,0.5)',
                    label: {
                        text: 'High Standard',
                        style: {
                            fontStyle: 'italic',
                            opacity: 0.5
                        }
                    }
                },{
                    from: 1.5,
                    to: 2.5,
                    color: 'rgba(209,210,212,0.5)',
                    label: {
                        text: 'Very High Standard',
                        style: {
                            fontStyle: 'italic',
                            opacity: 0.5
                        }
                    }
                }],
                labels: {
                    enabled: false
                }
            }
        } %>
    <% else %>
        <%
          submissions = []
          @subject.assignments.each do |a|
            a.submissions.each do |s|
              submissions << s
            end
          end
        %>
        <%= bar_chart submissions.pluck(:marked_at, :grade), width: '65vw', height: '500px', min: -2, max: 2, discrete: true, curve: false, xtitle: 'Time', ytitle: 'Challenge Grade Attainment' %>
    <% end %>
  </div>
  <% if @relations && @relations.length > 0 %>
      <div class="profile-right <%= 'assignments-list' if @relation_name != 'Students' %>">
        <h3 class="record-header"><%= @relation_name %>:</h3>
        <ul class="record-list">
          <% if @relations %>
              <% @relations.each do |relation| %>
                  <%= render relation %>
              <% end %>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>