<% provide(:title, @school.name) %>
<h1><%= @school.name %></h1>
<h2><%= @school.motto %></h2>
<h3><%= @school.address %></h3>
<h3><%= @school.phone_number %></h3>
<%= link_to 'Remove School', @school, method: :delete, data: { confirm: 'This action cannot be undone. Are you sure?' } %>